html, body {
   height: 100%;
   width: 100%;
}
body {
    font-family: sans-serif; 
    background: #eee;
    margin: 0;
}
a, h1, h2 {
    color: #377BA8;
}
h1, h2 {
    font-family: 'Georgia', serif; margin: 0;
}
h1 {
    border-bottom: 2px solid #eee;
}
h1.top {
    text-align: center;
    /*position: absolute;*/
}

.page {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}
.current {
    display: block;
}

.flex {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: box;
    flex-pack: center;
    flex-align: center;
    
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

.flex1 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.flex2 {
    -moz-box-flex: 2;
    -webkit-box-flex: 2;
    box-flex: 2;
}

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: justify;
}
.entries li {
    margin: 1em 2em;
}
.entries li h2 {
    margin-left: -1em;
}
.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
}
.add-entry dl {
    font-weight: bold;
}
.metanav {
    font-size: 0.8em;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 2;
}
.flash {
    background: #CEE5F5;
    padding: 0.5em;
    border: 1px solid #AACBE2;
    z-index: 2;
}
.error {
    background: #F0D6D6;
    padding: 0.5em;
    z-index: 2;
}

#map_canvas {
    height: 100%;
    top: 40px;
}
#map_label {
    z-index: 1;
    position: absolute;
    right: 1em;
    top: 78px;
    padding: 5px;
    width: 218px;
    background: #fff;
}

header {
    z-index: 1;
    padding: 0;
    height: 40px;
    width: 100%;
    text-align:center;
    background-color: #23658b;
    background: -moz-linear-gradient(top, #23658b 0%, #1c506e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23658b), color-stop(100%, #1c506e));
    background: -webkit-linear-gradient(top, #23658b 0%, #1c506e 100%);
    background: -o-linear-gradient(top, #23658b 0%, #1c506e 100%);
    background: -ms-linear-gradient(top, #23658b 0%, #1c506e 100%);
    background: linear-gradient(top, #23658b 0%, #1c506e 100%);
}